@{
  Layout = "_Layout";
}

@using SweetTreats.Models;
@model IEnumerable<SweetTreats.Models.Flavor>;

<h1>All Flavors</h1>
<p>Click a flavor to see treats that use it.</p>
<hr />
<div class="box">
  @if(@Model.Any())
  {
    @foreach (Flavor flavor in Model)
    {
      <h3>@Html.ActionLink($"{flavor.Name}", "Details", new {id = flavor.FlavorId})</h3>
    }
  }
  else
  {
    <h3> No Flavors yet! </h3>
  }
</div>

<p>@Html.ActionLink("Add a new Flavor", "Create")</p>