@{
  Layout = "_Layout";
}

<h1>Welcome to Pierre's Sweet Treats!</h1>

<div>
  <div class="row">
    <div class="col-sm">
      <p>@Html.ActionLink("View all Flavors", "Index", "Flavors")</p>
    </div>
    <div class="col-sm">
      /)_o(\
    </div>
    <div class="col-sm">
      <p>@Html.ActionLink("View all Treats", "Index", "Treats")</p>
    </div>
  </div>
</div>

<p>@Html.ActionLink("Create an account", "Index", "Account")</p>