@{
  Layout = "_Layout";
}

<h1>Welcome to Pierre's Sweet Treats!</h1>

<div>
  <h3>@Html.ActionLink("View all Flavors", "Index", "Flavors")</h3>
  <p>/)_o(\</p>
  <h3>@Html.ActionLink("View all Treats", "Index", "Treats")</h3>
</div>

<p>@Html.ActionLink("Create an account", "Index", "Account")</p>