@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h1>Account Info</h1>
<hr />
@if (User.Identity.IsAuthenticated)
{
<h2>Success!</h2>
  <p>Hello @User.Identity.Name!</p>

  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-default" value="Log out" />
  }
}
else
{
  <h4> Please log in to continue!</h4>
  <h4> If you don't have an account yet, please register.</h4>
  <p class="btn">@Html.ActionLink("Register", "Register")</p>
  <p class="btn">@Html.ActionLink("Log in", "Login")</p>
}